/* 
  TOP-LEVEL
*/

.flex-row {
  font-family: "Quicksand";
  padding: 2rem;
}

/* 
  INSTRUCTIONS
*/

.instructions-container {
  padding: 0 1rem;
  flex: 1;
  min-width: 225px;
}

.title {
  font-family: "Press Start 2P", cursive;
}

#projectionSelector {
  font: inherit;
}

/* 
  GAME CONTAINER
*/

.game-container {
  padding: 0 1rem;
  flex: 2;
  min-width: 200px;
}

#board {
  margin: auto;
  display: block;
}