#board {
  margin: auto;
  display: block;
}

.header {
  font-family: "Press Start 2P", cursive;
}

.info {
  font-family: "Quicksand";
}

.scoreboard {
  width: 100%;
  margin-block-start: 1em;
}

.scoreboard td {
  font-family: "Press Start 2P", cursive;
}
