/* 
  TOP-LEVEL
*/

.flex-row {
  font-family: "Quicksand";
  padding: 1rem;
}

/* 
  INSTRUCTIONS
*/

.instructions-container {
  flex: 1;
  padding: 1rem;
  min-width: 250px;
}

.title {
  font-family: "Press Start 2P", cursive;
}

.appSettings {
  text-align: center;
  margin-bottom: 1rem;
}

#res-disp,
#fs-btn,
#db-btn,
#ar-sel {
  font: inherit;
}

/* 
  GAME CONTAINER
*/

.game-container {
  flex: 2;
  padding: 1rem;
  min-width: 300px;
}
